@use 'styles/variables' as *;

.icon {
  width: var(--w-icon);
  height: var(--h-icon);

  &.iconPrimary {
    color: $black;
  }

  &.iconSecondary {
    color: $font-hover;
  }

  &.iconAccent {
    color: $brand;
  }
}
