@use 'styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: $white;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;
  color: $font-hover;
  z-index: 5;
  border-radius: 8px;
}

